services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  flask:
    build: .
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flask.rule=Host(`kolibri.campus.ltu.se`) && PathPrefix(`/flask`)"
      - "traefik.http.middlewares.flask-strip.stripprefix.prefixes=/flask"
      - "traefik.http.routers.flask.middlewares=flask-strip"
      - "traefik.http.services.flask.loadbalancer.server.port=5000"
    depends_on:
      - mariadb

  whoami:
    image: traefik/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Host(`kolibri.campus.ltu.se`)"

  mariadb:
    image: mariadb:11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db-data:
